<html>
	<head>
	  <div th:replace="fragments/header-fragment::header"></div>
	</head>
	<div th:replace="fragments/navbar-fragment::navigation"></div>
	<body>
		<div class="container mt-4 rounded">
			<div class="row">
				<button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#checkout">
				  Checkout
				</button>
				
				<!-- Create Product Modal -->
				<form class="form" action="#" th:action="@{/createPurchase}" th:object="${purchaseModel}" method="post">
					<div class="modal fade" id="checkout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">	
						      <div class="form__group">
						        <input type="text" placeholder="Name On Card" th:field="*{nameOnCard}" class="mt-2 w-100" />  
						        <input type="text" placeholder="Credit Card Number" th:field="*{creditCard}" class="mt-2 w-100" />
     						    <input type="text" placeholder="Email" th:field="*{email}" class="mt-2 w-100" />
						        <input type="number" placeholder="Table Number" th:field="*{tableNumber}" class="mt-2 w-100" />
								<button class="btn btn-primary w-100 mt-2" type="submit">Submit</button>
						      </div>
					      </div>
					    </div>
					  </div>
					</div>
				  <div th:if="${#fields.hasErrors('*')}">List of Errors</div>
				  <div th:each="err : ${#fields.errors('*')}">
				    <span style="color:red" th:text="${err}" class="fieldError"></span>
				  </div>
			    </form>
			</div>
			<div class="row">
		      <div class="col-sm-12 d-flex justify-content-center">
		        <h1>Shopping Cart</h1>
		      </div>
			</div>
			  <div class="row mt-4">
			    <div th:each="product : ${session.shoppingcart}" class="col-med-6 col-lg-3 mb-4 d-inline-flex">
					<div class="card" style="width: 18rem;">
					  <img th:src="${'/img/products/'+product.photo}" class="card-img-top" alt="productPhoto">
					  <div class="card-body">
					    <h5 class="card-title" th:text="${product.name}">Card title</h5>
					    <p th:text="${'Item Number: '+product.itemNumber}">Item Number</p>
					    <p class="card-text text-truncate" th:text="${product.description}">Description</p>
					    <p class="card-text" th:text="${'Price : $'+(#numbers.formatDecimal((product.price*1.0)/100, 0,'COMMA', 2,'POINT'))}">Price</p>
					    <p class="card-text" th:text="${'Quantity : '+product.quantity}">Quantity</p>
					    <div class="row mt-auto no-gutters">
					    	<a class="btn btn-danger w-50" th:href="@{/removeAllFromCart(productid=${product.itemNumber})}">Remove All</a>
  						    <a class="btn btn-warning w-50" th:href="@{/removeOneFromCart(productid=${product.itemNumber})}">Remove One</a>
		    				<button type="button" class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="" th:attr="data-bs-target=${'#details'+product.itemNumber}">
							  Details
							</button>
						    <a class="btn btn-success w-50" th:href="@{/addOneMore(productid=${product.itemNumber})}">Add One More</a>
						    	   				        
						</div>
					  </div>
					</div>
					
					<div class="modal fade" id="" th:attr="id=${'details'+product.itemNumber}" tabindex="-1" aria-labelledby="ProductDetails" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">
   							<p th:text="${'Item Number: '+product.itemNumber}"></p>
							<p th:text="${'Product Name: '+product.name}"></p>
							<p th:text="${'Product Description: '+product.description}"></p>
							<p th:text="${'Price: $'+(#numbers.formatDecimal((product.price*1.0)/100, 0,'COMMA', 2,'POINT'))}"></p>
					      </div>
					    </div>
					  </div>
					</div>
					
				</div>    
    		</div>
		</div>
	</body>

</html>